<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
<servlet>
	<servlet-name>abc</servlet-name>
	<servlet-class>com.testservlet.AddNum</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>abc</servlet-name>
	<url-pattern>/add</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>pqr</servlet-name>
	<servlet-class>com.testservlet.SquareOfNum</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>pqr</servlet-name>
	<url-pattern>/sq</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>context</servlet-name>
	<servlet-class>com.testservlet.MyServletContextConfig</servlet-class>
	
	<init-param>
		<param-name>name</param-name>
		<param-value>sneha mathadawar</param-value>
	</init-param>
	
</servlet>

<servlet-mapping>
	<servlet-name>context</servlet-name>
	<url-pattern>/context</url-pattern>
</servlet-mapping>

<context-param>
	<param-name>name</param-name>
	<param-value>Sneha</param-value>
</context-param>

<context-param>
	<param-name>greeting</param-name>
	<param-value>Good morning</param-value>
</context-param>
</web-app>